* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "font";
    src: url("./src/assets/font/font.ttf");
}

.titulo {
    text-shadow: 1px 1px 3px #ffffff;
    font-family: "font";
}

.card-img-top {
    height: 200px;
    object-fit: scale-down;
}
