* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "font";
    src: url("./src/assets/font/font.ttf");
}

nav {
    color: black;
    text-shadow: 1px 1px 7px #ffffff;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(162, 162, 162));
    text-align: center;
    font-family: "font";
}

.links {
    font-size: 20px;
}

.sesion {
    color: rgb(80, 62, 121);
}

.color {
    color: rgb(179, 21, 21);
}