footer {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(162, 162, 162));
}

footer img {
    max-width: 2%; 
    margin: 0 20px;
}

.footer {
    float: inline-start;
    color: black;
    text-shadow: 1px 1px 7px #ffffff;
}

@media (max-width: 600px) {
    .visivility {
        display: none;
    }

    footer img {
        max-width: 8%; 
        margin: 0 20px;
    }
}